
body {
    font-family: sans-serif;
    font-size: 1.4em;
    padding: 15px;
}
div#messages>div {
    background: #e8e8e8;
    padding: 5px 10px;
    border-radius: 5px;
    border-bottom: 1px solid #fafafa;
}

/* Currently displays the 'You are now connected to CHAT SERVER screen
    Will be replaced by a popup */
div#messages>div:first-child {
    background: #fff;
    margin-bottom: 20px;
    padding: 0px;
}

div#messages>div:last-child {
    margin-bottom: 0px;
}

input#messageBox {
    width: -webkit-calc(100% - 24px);
    width: -moz-calc(100% - 24px);
    width: calc(100% - 24px);
    /*display: block;*/
    padding: 10px;
    margin-top: 50px;
}
input[type="button"] {
    width: 30%;
    margin-top: 10px;
    background: #0a86e6;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 5px;
}

  .sender {
    color: blue;
    background-color: aliceblue;
    text-align: right;
    margin-right: 5px;
  }

  .receiver {
    background-color: darkgray;
    color: #fafafa;
    text-align: left;
    margin-left: 5px;
  }

  /*Used until private messaging is implemented*/
  .private {
    color: red
  }